--find-links https://download.pytorch.org/whl/cu121
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0

torch-geometric==2.4.0

numpy>=1.26.4
pandas>=2.2.3
matplotlib>=3.9.2

rich>=13.9.4
mplcyberpunk>=0.7.5
